__pycache__/
core.*
data
data/
datasets
datasets/
log_test/
logs/
log_submitit
log_submitit*
notebooks/
results*/
saves
saves/
slurm-*.out
slurm_out/
slurm-scripts/
wandb/

spider.egg-info/

profile*.txt

.ipynb_checkpoints/
*.egg-info
